<section class="container-fluid wrapper-header">
  <div class="section-1">    
    <div class="toggle-menu" (click)="toggleCollapse()">
      <img src="../../assets/icons/justify-alignment.svg" alt="">
    </div>
  </div>
  
  <div class="section-2">
  <ul class="list-menu">
    <li class="item-menu">
      <button class="toggle" (click)="switchTheme()">
        {{ theme === "light-theme" ? "Switch to dark" : "Switch to light" }}
      </button>
    </li>
    <li class="item-menu">
      <button class="toggle" (click)="dowloadFile()">
        Dowload CV
      </button>
    </li>
  </ul>
  </div>
</section>