.wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  background-color: var(--box-color);
  height: 10vh;
  padding: 2rem;
}

.section-2 {
  .list-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .item-menu {
    cursor: pointer;
    padding: 0 1rem;
    transition: all ease 20ms;

    &:hover {
      opacity: .8;
    }
  }

  .item-number {
    padding: 0 0.5rem;
  }

}

.toggle {
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 9px;
  background-color: var(--text-color);
  color: var(--button-color);
  transition: all .1s ease;
}

.toggle-menu {

  display: none;

  @media only screen and (max-width: 768px) {
    display: block;
    align-items: center;
    filter: invert(1);
    min-width: 2rem;
    top: 5%;
  }

}