.wrapper-content {
  height: 100vh;
  padding: .6rem 0 .6rem; 
  margin: auto ;
}
.container-xl {
  max-width: 1420px;
  margin-right: auto;
  margin-left: auto;
}
.sidenav-collapsed{
  display: none;
}