<div class="wrapper wrapper-sidebar">

  <div class="hexagon">
    <div class="hex">
      <img class="hex-img" src="../../assets/img/profile.jpg" alt="">
    </div>
  </div>
  <hr class="neon-border">
  <div class="pre-title animate__animated animate__fadeInDown animation-5">
    <p>Hola mi nombre es</p>
  </div>
  <h1 class="title animate__animated animate__fadeInDown animation-10"> JOSE CANO </h1>
  <p>
    <ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter>
  </p>
  <h2 class="sub-title animate__animated animate__fadeInDown animation-15"> Soy desarrollador de Software</h2>
  <p class="description animate__animated animate__fadeInDown animation-20">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Vitae ut nostrum quod recusandae vel eligendi similique ea,
    sequi facilis consequuntur quis eos odit ad eius facere reiciendis autem dolor fugit!
  </p>
  <hr class="neon-border">
  <div class="contact">
    <ul class="list-menu">
      <li class="item-menu"><i class="uil uil-github i-contact"></i></li>
      <li class="item-menu"><i class="uil uil-envelope i-contact"></i></li>
      <li class="item-menu"><i class="uil uil-linkedin i-contact"></i></li>
    </ul>
  </div>


</div>