.wrapper-sidebar {
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-right: solid rgba(22, 27, 51, 1);
  height: 98vh;

}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-img {
    width: 10rem;
    filter: drop-shadow(2px 2px 5px) saturate(1.3);
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);

  }
}

.list-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

.item-menu {
  cursor: pointer;
  padding: 0 .2rem;
  border-radius: 1rem;
  background-color: var(--link-color);
  transition: all ease 20ms;

  &:hover {
    opacity: .8;
    background-color: var(--link-color-hover);
  }

  .i-contact {
    font-size: 3.2rem
  }
}

.border-s {
  border: solid .2px;
  border-color: var(--link-color-hover);
}

.collapse {
  display: none;
  width: 12%;
  position: relative;
  left: 89%;
  padding: 0;
  margin: 0;

  .icon-collapse {
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    border-radius: 2rem;
    background-color: var(--text-color);
  }

  @media only screen and (max-width: 768px) {
    display: block;
  }
}