.wrapper-sidebar {
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  
}
.sidebar-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  .header-img {
    
    width: 12rem;
    filter: drop-shadow(2px 2px 5px) saturate(1.3);
    object-fit: cover;
    transition: .3s;
    clip-path: circle(50% at 50% 50%);

  }
}