<section class="wrapper-sidebar" >
 
  <div class="collapse" (click)="collapse()">
    <img src="../../assets/icons/arrow-left.svg" class="icon-collapse" alt="">
  </div>
  <div class="sidebar-header">
    <img class="header-img" src="../../assets/img/profile.jpg" alt="">
  </div>
  
  <hr class="neon-border">
  <div class="contact">
    <ul class="list-menu">
      <li class="item-menu"><i class="uil uil-github i-contact"></i></li>
      <li class="item-menu"><i class="uil uil-envelope i-contact"></i></li>
      <li class="item-menu"><i class="uil uil-linkedin i-contact"></i></li>
    </ul>
  </div>

</section>
  

