.light-theme {
  --background-color: #FEFCF3;
  --text-color: #1a1a1a;
  --box-color: #F5EBE0;
  --button-color: #fff;
  --link-color: #FFD9C0;
  --link-color-hover: #ffd9c0f4;
  --icons-color: #FFD9C0;
  --card-color: #ffd9c0f4;
  --box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
  --box2-shadow: 5px 5px 8px #9d9d9d,-5px -5px 8px #ffffff;
}

.dark-theme {
  --background-color: #161b33;
  --text-color: #f5f5f5;
  --box-color: #1b203a;
  --button-color: #1a1a1a;
  --link-color: #212541;
  --link-color-hover: #829ac9;
  --icons-color: #212541;
  --card-color: #212541;
  --box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
  --box2-shadow:   5px 5px 31px #161d3f,
  -5px -5px 31px #3e51b3;
  //--box2-shadow: 0px 0px 49px 15px rgba(193, 208, 226, 0.444);
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  background-color: var(--background-color);
  transition: all .3s ease-in-out;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  transition: all .1s ease;
}

hr {
  margin: 1rem 0 1rem;
}