/* You can add global styles to this file, and also import other style files */
:root {
  --color-1: 012A4A
  --color-2: 013A63
  --color-3: 01497C
  --color-4: 2C7DA0
  --color-5: 468FAF
  --color-6: A9D6E5
}

html, body {
  margin: 0;
  padding: 0;
}