.wrapper-works {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  padding: 0 2%;
  height: 88vh;
  scroll-behavior: smooth;
  background-color: var(--box-color);
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    background-color: var(--item-color);
    width: 0;
  }

}

.skills {
  margin: 2rem 0;
}

.list-menu {

  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

.item-menu {
  padding: 1rem;
  border-radius: 20%;
  background-color: var(--link-color);
  transition: all ease 20ms;

  .item-image {
    max-width: 40%;

    img {
      width: 4em;
    }
  }
}



.back-image {
  //background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg"); 
  position: relative;
  background: url(../../assets/img/wave.svg);
  border-radius: 1rem;
  background-size: 1200px 421px;
  //width: 100%;
  //height: 100%;
  animation: wave 10s linear infinite;

  @media only screen and (max-width: 768px) {
    background-image: none;
  }

  .wrapper-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @media only screen and (max-width: 768px) {
      background-image: none;
    }

    .container-text {
      min-width: 80%;
      padding: inherit;

      .bg-text {
        backdrop-filter: blur(2px);
        background-color: rgba(62, 73, 95, 0.35);
        padding: 2rem;
        border-radius: 1rem;
      }
    }

  }

}

@keyframes wave {
  0% {
    background-position-x: 1200px;
  }
  100% {
    background-position-x: 0%;
  }
}

.title {
  
  color: var(--text-color);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.2rem;
}

.sub-title {
  color: var(--text-color);
  font-family: "IBM Plex Sans", sans-serif;
  padding: .5rem 0;
}

.description {
  font-size: 1.2rem;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.8rem;
}