<section class="container-fluid wrapper-works">
  <div class="back-image">
    <div class="wrapper-text">
      <div class="container-text">
        <section class="bg-text">
          <div class="pre-title animate__animated animate__fadeInDown animation-5">
            <p>Hola mi nombre es</p>
          </div>
          <h1 class="title animate__animated animate__fadeInDown animation-10"> Jose Miguel Cano Vilcapaza </h1>
  
          <h2 class="sub-title animate__animated animate__fadeInDown animation-15"> Soy desarrollador de Software</h2>
          <p class="description animate__animated animate__fadeInDown animation-20">
            Mi framework favorito es Angular. en el cual he trabajado en varios proyectos utilizando Angular para construir aplicaciones web de una sola página escalables 
            y de alta disponibilidad. 
            Me apasiona aprender cosas nuevas para poder mejorar mis habilidades. 
          </p>
        </section>
      </div>
    </div>
  </div>

  <section class="skills">
    <ul class="d-flex flex-wrap list-menu">
      <li class="item-menu" *ngFor="let icon of icons; let i = index">
        <div class="item-image">
          <img class=" neon-border animate__animated animate__fadeInUp animation-{{i*2}}" src={{icon.path}}
            alt={{icon.name}}>
        </div>
      </li>
    </ul>
  </section>


  <section class="second">
    <app-card [data]="proyects"></app-card>
  </section>

  <section class="thirt">
    <h1>History Time</h1>
  </section>
</section>