.wrapper-works {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  padding: 2rem;
  height: 90vh;
  scroll-behavior: smooth;
  background-color: var(--box-color);

  &::-webkit-scrollbar {
    background-color: var(--background-color);
  }
  
}

.list-menu {

  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.item-menu {
  cursor: pointer;
  padding: 1rem;
  border-radius: 20%;
  background-color: var(--link-color);
  transition: all ease 20ms;

  .item-image {
    max-width: 40%;

    img {
      width: 4em;
    }
  }
}